<div [hidden]="submitted">
  <ng-container *ngIf="event">
    <h3 class="text-primary">Notes possibles</h3>
    <ul class="scale-list">
      <li *ngFor="let note of event.community[0].notes">
        <rating
          [(ngModel)]="note.value"
          [max]="event.community[0].notes.length - 1"
          [readonly]="true">
        </rating> : {{ note.label }}
      </li>
    </ul>
    <h3 class="text-primary">Choix proposés</h3>
    <ul class="choice-list">
      <li *ngFor="let choice of event.choices">
        <span>{{ choice.title }}</span><br/>
        <rating
          [(ngModel)]="choice.note"
          [max]="event.community[0].notes.length - 1"
          [titles]="event.getNoteTitles()">
        </rating><br/>
      </li>
    </ul>
    <h3 class="text-primary">Information</h3>
    <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(event)">
      <div class="form-group">
        <label class="control-label col-sm-2" for="penta">Pentagramme*:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="penta" name="penta" placeholder="Entrer votre pentagramme"
                 [(ngModel)]="event.penta"
                 required
                 minlength="5"
                 maxlength="5"
                 #penta="ngModel">
          <div [hidden]="penta.valid || penta.pristine"
               class="alert alert-danger">
            Veuillez entrer votre pentagramme (5 caractères)
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="comment">Commentaire:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="comment" name="comment" placeholder="..." [(ngModel)]="event.comment"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-warning" [disabled]="!userForm.form.valid">Valider</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<div [hidden]="filling" class="text-center pending">
  <p>Pending...</p>
</div>
<div [hidden]="notConfirmed" class="text-center">
  <p>Brâvo! Votre vote a été pris en compte.</p>
  <p class="text-center"><button type="button" class="btn btn-default" (click)="reset()">Modifier</button></p>
</div>
